@font-face {
	font-family: 'Moon 2.0';
	src: url(../../assets/fonts/Moon20-Light.woff2) format('woff2'),
	url(../../assets/fonts/Moon20-Light.woff) format('woff');
	font-weight: 300;
	font-style: normal;
}